# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Visual Basic

### Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. SciPy
6. Scikit-learn
7. TensorFlow
8. PyTorch

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudio |
| Apache Zeppelin |

### Below are a few examples of evaluating arithmetic expressions in Python

1. Addition: `3 + 4` evaluates to `7`
2. Subtraction: `10 - 5` evaluates to `5`
3. Multiplication: `6 * 7` evaluates to `42`
4. Division: `8 / 2` evaluates to `4.0`

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objective__
* List of popular libraries in data science
* List of Popular languages in data science
* List of well known data science tools
* How to provide comments in cell

## Author
Samujjal Kalita